.container{
    display: flex; 
   justify-content: space-between;
   padding-bottom: 0.9rem;
  
}
.pictureContainer{
    flex: 6;
    text-align: left;
}

.textContainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex: 4;
}

img {width: 50%}

