/* Container holding the image and the text */
/* .container {
  position: relative;
  text-align: center;
  color: white;
  visibility: visible;
} */

/* Bottom left text */
/* .bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
} */

/* Top left text */
/* .top-left {
  position: absolute;
  top: 8px;
  left: 16px;
} */

/* Top right text */
/* .top-right {
  position: absolute;
  top: 8px;
  right: 16px;
} */

/* Bottom right text */
/* .bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
} */

/* Centered text */
/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

img{
  height: 100vh;
  width: 100%;
  z-index: 4000;
}

.imgMain{
  width: 100%;
  height: 100vh;
  z-index: 4000;
}

@media screen and (max-width: 960px){
  img{
    height: 100vh;
    width: 100vh;
    z-index: 4000;
  }
}

