/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottomLeft {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .topLeft {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .topLight {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottomLight {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
img {width: 100%}
